<div class="span-18">

<%= render 'uploadwidget' %>

</div>

<div class="span-6 last">
	<div class="sidebar_links" >
		<%= link_to "Fabric Portfolio", user_path %>
	</div>
	
	<!-- Disable it for now. We will need AJAX to update the number as designs are 
		 uploaded. -->
	<%= 
		# render :partial => 'layouts/uploadblock', :locals => { :hideUploadLink => true } 
	%> 	
</div>


