<div class="span-18">

<span class="large quiet">Checks N Stripes</span>
<h3>Fabric Portfolio</h3>

<%= render 'layouts/navbartop'%>
<%= render 'layouts/fabricalbum'%>

</div>
<div class="span-6 last">
	<%= render :partial => 'layouts/uploadblock', :locals => { :hideUploadLink => false } %>
</div>
