/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";

body {
  padding-top: 70px;
}

.form-signin, .form-signup, .form-reset-password {
  max-width: 350px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.form-reset-password {
  max-width: 400px;
}

div.thumbnail { 
  padding: 10px; 
}

.card-info {
  margin: 5px 0;
}

ul.fabric_color_palette {
  list-style: none;
}

.fabric-view {
  margin-bottom: 10px;
  border-radius: 5px;
}

.view-style {
  padding: 7px 0px;
}

.filter-container {
  margin-top: 20px;
}

.filter-container, .filter-container-first {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-bottom: 10px;
}


.filter-container h4, .filter-container-first h4 {
  padding: 12px 0px;
  text-transform: uppercase;
  color: #615e5e;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 0px;
}

#quantity {
  text-align: center;
  width: 100%;
}

#slider-range {
  width: 90%;
  margin: 0px 8px;
}

.filter-btn {
  width: 100%;
  margin-bottom: 1px;
  border: none;
  border-radius: 0px;
  margin-left: 0px!important;
  color: #428bca;
  background: white;
  text-align: left;
}

.filter-btn input[type="checkbox"] {
  display: inline!important;
}

.filter-btn:hover {
background: #eee;
color: #428bcd;
}

.filter-btn.active:hover {
background: #428bcd;
color: white;
box-shadow: none;
}

.filter-btn.active .badge {
background: white;
color: #428bca;
}

.filter-btn .badge {
background: grey;
color: white;
}