<div class="col-sm-4 col-md-3">
  <div class="thumbnail box-shadow">
    <a href="#">
      <img src="http://s3.amazonaws.com/cnsfabricsus/images/attachments/9/thumb/%23CNS-109.JPG?1328080150">
    </a>
    <div class="row">
      <div class="col-xs-6 card-info">
        <p>
          #CNS 543
        </p>
      </div>
      <div class="col-xs-6 card-info text-right">
        <p>
          250 Mts
        </p>
      </div>
    </div>
  </div>
</div>        

