<div class="col-sm-4 col-md-3">
  <div class="thumbnail">
    <a href="#">
      <img src="http://s3.amazonaws.com/cnsfabricsus/images/attachments/9/thumb/%23CNS-109.JPG?1328080150">
    </a>
    <div class="card_info">
      <p>
        <a href="#">cns 5434</a>
      <br>
      <small>by Checks 'n' Stripes</small>
      </p>
    </div>
  </div>
</div>        

