<div class="col-sm-4 col-md-3">
  <div class="thumbnail">
    <a href="#">
      <img src="http://s3.amazonaws.com/cnsfabricsus/images/attachments/9/thumb/%23CNS-109.JPG?1328080150">
    </a>
    <div class="row">
      <div class="col-xs-6 card-info">
        #CNS 543
      </div>
      <div class="col-xs-6 card-info text-right">
        250 Mts
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        58"
      </div>
      <div class="col-xs-6 text-right">
        Powerloom
      </div>
    </div>
  </div>
</div>